@import "./base.css";
/* CUSTOM PROPS */
:root {
  --text-color: #111517;
  --body-bg: #fafafa;
  --element-bg: #fff;

  --primary-color: #6A48FCFF;
  --black-100: #222;
  --black-80: rgba(34, 34, 34, 0.8);
  --black-50: rgba(34, 34, 34, 0.5);
  --white-color: #F9F9F9;
  --grey-blue: #33323d;
  --blue-color: #2196F3;
  --danger-color: #E17094;
  --dark-blue: #728CF7;
  --light-blue: #68AAF3;
  --orange-color: #FF9B70;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
      url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
      url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.woff2") format("woff2"),
      url("../assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

